html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.frame {
    margin-right: 20px;
    float: left;
}

.footer {
    position: relative;
    bottom: -40vh;
}