@page

@{
	ViewData["title"] = "Page not found";
}

<div>
	<!-- look mom. A skylanders reference no-one will get -->
	<p>
		I'm sorry. It seems this page does not exist. If you are sure this page should exist, please know that the
		racoons are busy fixing it
	</p>
	<img src="https://static.wikia.nocookie.net/skylanders/images/1/18/Flynn_Large.png/">
</div>