@page
@model DotNetWebsite.Pages.Movie.IndexModel
@{
}

<form>
<input asp-for="@Model.SearchString" />
<button action="submit">Search</button>
</form>

@{
    List<Models.Movie> filteredMovies = Model.FilteredMovies;
}

@for(int i = 0; i < filteredMovies.Count; i++)
{
    <p>@filteredMovies[i].Title</p>
}