@page "/movie"
@model DotNetWebsite.Pages.Movie.IndexModel
@{
    List<Models.Movie> filteredMovies = Model.FilteredMovies;
}



<form>
    <input asp-for="@Model.SearchString" />
    <button action="submit">Search</button>
</form>

@for(int i = 0; i < filteredMovies.Count; i++)
{
    <div class="nav-item">
        <a class="nav-link" target="_blank" asp-page="/Movie/Movie" asp-route-id="@filteredMovies[i].Id">@filteredMovies[i].Title (@filteredMovies[i].Year)</a>
    </div>
}